section {
    display: table;
    margin: 2.5%;
    letter-spacing: 0.05em;
    line-height: 150%;
}

section div,
section figure {
    display: table-cell;
    vertical-align: middle;
    padding: 5%;
    font-size: 1.1em;
    background: rgba(93,46,26,0.8);
    background-clip: padding-box;
}

section figure:nth-child(even) {
    border-left: 1.5em solid transparent;
}

section figure:nth-child(odd) {
    border-right: 1.5em solid transparent;
}

section img {
    display: block;
    width: 100%;
    border: 1px solid #ecd7a1;
}

section p {
    margin: 0;
}

br {
    content: "";
    display: block;
    height: 0.8em;
}

section a {
    display: block;
}

section a:hover, 
seciton a:focus {
    border-color: #ffc73b;
    outline: 2px solid #ffc73b;
}

#first div {
    width: 55%;
}
#first figure {
    width: 45%;
}

#second figure {
    width: 50%;
}
#second div {
    width: 50%;
}

#third div {
    width: 45%;
}
#third figure {
    width: 55%;
}

#fourth div {
    width: 45%;
}
#fourth figure {
    width: 55%;
}
#fourth h3 {
    font-family: passionone, Tahoma, sans-serif;
    margin: 0 0 5%;
    font-size: 2em;
    font-weight: normal;
}
#fourth p {
    margin-bottom: 12%;
}
#fourth aside {
    font-size: 0.5em;
    line-height: normal;
}

@media only screen and (max-width: 568px) 
{
    section {
        margin: 0;
        line-height: normal;
    }

    section div,
    section figure {
        font-size: 1.3em;
        line-height: 1.4em;
        border: none;
        width: 100% !important;
    }
    
    section figure:nth-child(even),
    section figure:nth-child(odd) {
        border: none;
    }

    section div {
        display: table-row-group;
    }
    section figure {
        display: table-header-group;
    }
    section p {
        display: block;
        margin: 4%;
    }
    #fourth h3 {
        margin: 4%;
    }
    #fourth aside {
        margin: 4%;
        font-size: 0.6em;
    }
    #fourth {
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 320px) {

}