/*  Nav Bar  */
nav {
    font-size: 2.2em;
    margin-top: 1.1em;
    z-index: 0;
    height: 2.65em;
}

nav li {
    width: 16%;
}


nav .logo {
    top: -3.5em;
}

/*  Splash Image  */
.splash {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.splash img {
    display: block;
    width: 100%;
    position: relative;
    border-left: 5px solid #563424;
    border-right: 5px solid #563424;
    z-index: -1;
}

.splash h6 {
    position: absolute;
    font-weight: normal;
    bottom: 5%;
    left: 4%;
    margin: auto;
    width: 15.2em;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    font-size: 2em;
    color: #281200;
    padding: 1em;
}

main hr {
    position: relative;
    border: none;
    margin: 0;
    border-top: 5px solid #563424;
    border-bottom: 10px solid #d7b58f;
}

/* Main content boxes */
.promotion {
    width: 100%;
    max-width: 1366px;
    margin: 2em auto;
}

.promotion > div {
    display: table;
    width: 100%;
}

.promotion figure {
    display: table-cell;
    vertical-align: middle;
    padding: 2.5%;
    background: rgba(93,46,26,0.8);
    border-right: 2em solid transparent;
    background-clip: padding-box;
}

/* First Row Boxes */
.promotion .freecoffee {
    width: 37%;
}
.freecoffee #ytaspectratio {
    /* To set fixed aspect ratio */
    position: relative;
    width: 100%;
    padding-top: 75%;
}
.freecoffee iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.promotion .vetad {
    width: 33.4%;
}
.vetad img {
    width: 100%;
}

.promotion .factoid {
    width: 29.6%;
    border-right: none;
}
.factoid h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: passionone, Verdana, sans-serif;
    letter-spacing: 0.01em;
    font-weight: normal;
    margin-top: 0;
}
.factoid p {
    text-align: center;
    width: 80%;
    font-size: 1.4em;
    margin: 0 auto;
    padding-bottom: 1em; /* To shift contents up */
}

/* Second Row Boxes */
.promotion .secondrow {
    margin-top: 2.5%;
}

.promotion .subscription {
    width: 45%;
    text-align: center;
    padding: 3% 5%;
}
.subscription p {
    font-size: 1.5em;
    margin: 0;
}
.subscription input {
    padding: 0.3em;
    border: 2px ridge #ecd7a0;
    font-size: 1.2em;
    padding: 0.3em;
    font-weight: bold;
}
.subscription input[type="email"] {
    width: 90%;
    color: #281200;
    background: #fff8e2;
}
.subscription input[type="submit"] {
    margin-top: 1.5em;
    width: 7em;
    background: #281200;
}
.subscription input[type="submit"]:hover,
.subscription input:focus {
    outline: 3px solid #ffc73b;
}
.subscription label {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.2em;
    font-size: 1em;
    color: rgb(233, 69, 29);
    font-weight: bold;
}
.subscription .error {
    border-color: rgb(233, 69, 29);
}

.promotion .socialmedia {
    padding: 3% 4%;
    border-right: none;
    text-align: center;
}
.socialmedia p {
    font-size: 1.6em;
    margin: 0 0 1.5em;
}
.socialmedia a {
    width: 20%;
    display: inline-block;
}
.socialmedia img {
    width: 75px;
}
.socialmedia img:hover,
.socialmedia a:focus > img {
    outline: 3px solid #ffc73b;
}
.socialmedia a:focus {
    outline: none;
}

@media only screen and (max-width: 568px) 
{
    nav {
        margin-top: 0;
    }

    nav li {
        width: 25%;
    }

    nav .logo {
        top: 6em;
        left: 0;
        width: 180px;
        height: 180px;
        background-image: url("../img/logo180.png");
        margin: 0;
    }

    .splash img {
        border: none;
    }

    .splash h6 {
        position: relative;
        background: #d7b58f;
        padding: 3%;
        margin: none;
        left: auto;
        bottom: auto;
        width: 100%;
        text-align: center;
        border-top: 5px solid #563424;
        border-bottom: 5px solid #563424;
    }

    main hr {
        display: none;
    }

    .promotion {
        margin: 3% 0;
    }

    .promotion > div {
        display: block;

    }

    .promotion figure {
        display: block;
        width: 100% !important;
        margin: 3% 0 !important;
        border: none;
    }

    .socialmedia img {
        width: 4em;
    }
}

@media only screen and (max-width: 320px) {
    nav .logo {
        width: 120px;
        height: 120px;
        background-image: url("../img/logo120.png");
    }
}