h1 {
    margin: 5% 2.5% 0;
}

/* Menu Column */
.menucolumn {
    float: left;
    vertical-align: top;
    width: 50%;
    padding: 2.5%;
    padding-right: 1.25%;
}

.menucolumn section {
    background: rgba(93,46,26,0.8);
    padding: 7%;
    margin-bottom: 5%;
}

.menucolumn h2 {
    margin: 0;
    margin-bottom: 0.8em;
    font-family: passionone, Tahoma, sans-serif;
    font-size: 2.1em;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.02em;
}

.menucolumn p {
    clear: both;
    font-size: 1.25em;
    margin: 0;
}

.menucolumn p span {
    float: right;
}

#donuts ul {
    padding: 0;
    font-weight: 300;
    font-size: 0.9em;
    margin: 1em 1.5em 1.5em;
    overflow: auto;
}

#donuts li {
    width: 30%;
    min-width: 9em;
    list-style: none;
    float: left;
    margin: 0.15em 0.2em;
}

#donuts #dozendonuts {
    width: auto;
    margin: 1em 1.5em 1.5em;
    font-weight: 300;
    font-size: 0.9em;
}

#favorites p {
    margin-top: 1em;
}

#drinks {
    margin-bottom: 0;
}

#drinks table {
    width: 100%;
}

#drinks thead td {
    font-size: 1em;
}

#drinks td {
    font-size: 1.25em;
    text-align: right;
    padding-top: 1em;
}

#drinks td:first-child {
    text-align: left;
}

/* Image Column */
.imagecolumn {
    float: right;
    position: relative;
    vertical-align: top;
    width: 50%;
    padding: 2.5%;
    padding-left: 1.25%;
}

.menuimages {
    width: 100%;
    display: table;
    padding: 6%;
    background: rgba(93,46,26,0.8);
    background-clip: padding-box;
}

.menuimages a {
    display: block;
}

.menuimages figure {
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    margin-bottom: 6%;
}

.menuimages img {
    max-width: 440px;
    display: block;
    width: 100%;
    border: 1px solid #ecd7a1;
}

.menuimages a:hover,
.menuimages a:focus {
    outline: 3px solid #ffc73b;
}

.menuimages figure:last-child {
    margin-bottom: 0;
}

/* Text at bottom */
#joke {
    clear: both;
    margin: 2.5%;
    margin-top: 0;
    padding: 0.6em;
    font-style: italic;
    text-align: center;
    font-size: 1.4em;
    letter-spacing: 0.05em;
    background: rgba(86,40,20,0.8);
}

@media only screen and (max-width: 568px) 
{
    h1 {
        margin: 5% 0 2.5%;
    }

    .menucolumn {
        float: none;
        /* display: table-row-group; */
        width: 100%;
        font-size: 1.2em;
        padding: 0;
    }

    .menucolumn section {
        margin: 3% 0 0;
    }

    #donuts ul,
    #donuts #dozendonuts {
        font-size: 1em;
    }

    .imagecolumn {
        float: none;
        /* display: table-header-group; */
        width: 100%;
        padding: 0;
    }

    .menuimages {
        padding: 0;
        background: none;
    }

    .menuimages figure {
        margin: 3% 0 0;
    }

    .menuimages img {
        border: none;
        max-width: initial;
    }

    #joke {
        margin: 3% 0;
    }

}