@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: raleway;
    src: url("../fonts/Raleway-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: passionone;
    src: url("../fonts/PassionOne-Regular.ttf");
}
@font-face {
    font-family: passionone;
    src: url("../fonts/PassionOne-Bold.ttf");
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    min-width: 1024px;
    margin: 0 auto;
    color: #ecd7a0;
    background-color: #281300;
    font-family: raleway, Calibri, Arial, sans-serif;
    background-image: url("../img/DonutBack.png");
    background-position: center;
}

a {
    color: #ecd7a0;
}
a:hover,
a:focus {
    color: #ffc73b;
}
a:active {
    color: #fff8e2;
}

/*  Nav Bar  */
nav {
    font-family: passionone, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    margin-top: 0.9em;
    background: #d7b58f;
    width: 100%;
    height: 2.8em;
    border-top: 5px solid #563424;
    border-bottom: 5px solid #563424;
    letter-spacing: 0.01em;
}

nav ul {
    position: relative;
    list-style-type: none;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    width: 19%;
    text-align: center;
    float: left;
    padding: 0.65em 0;
    z-index: 2;
}

nav .navright {
    float: right;
}

nav li a {
    color: #563a24;
    font-weight: bold;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
    background-image: url("../img/linkhighlight2.png");
    margin: -1em;
    padding: 1.5em 1em;
    transition: .1s ease;
}

.navlink a:focus, .navlink a:hover, .navlink a.currentpage {
    background-size: 4em;
    color: #ecd7a1;
}

.navlink a.currentpage {
    text-decoration: underline;
    color: #ffc73b;
}

.navlink a:active {
    color: #fff8e2;
}

nav .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -2.5em;
    z-index: 1;
    width: 30%;
}

nav::after {
    content: "";
    clear: both;
    display: block;
}

/*  Main  */
main {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

/* Page Titles */
h1 {
    font-family: passionone, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 3.5em;
    text-align: center;
    margin: 1.2em 2.5% 2.5%;
    padding: 0.3em;
    letter-spacing: 0.02em;
    background: rgba(93,46,26,0.8);
}

/*  Footer  */
footer {
    border-top: 6px solid #d7b58f;
    background-color: #563424;
    height: 3.5em;
    font-size: 0.9em;
}

footer div {
    margin: 0 auto;
}

footer p {
    margin: 0.8em 1em;
    float: left;
}

footer a {
    margin: 0.8em 1em;
    float: right;
}

@media only screen and (max-width: 568px) 
{
    html {
        font-size: 0.6em;
    }

    body {
        min-width: unset;
    }

    nav {
        margin: 0;
    }

    nav .logo {
        width: 72px;
        background-image: url("../img/logo80.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        position: absolute;
        top: -1em;
        height: 72px;
    }

    .logo img {
        display: none;
    }

    nav li {
        padding: 0.5em 0;
    }

    nav li a {
        background: none;
        font-size: 1.15em;
        margin: 0;
        padding: 0;
    }

    .navlink a.currentpage {
        color: #b55200;
    }

    h1 {
        margin: 5% 0 0;
    }

    footer {
        border-top-width: 4px;
        font-size: 1.15em;
    }

    footer a {
        font-weight: bold;
    }

}

@media only screen and (max-width: 320px) {

}